@font-face {
    font-family: 'mont-r';
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'mont-m';
    src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'mont-b';
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'mont-bl';
    src: url('../fonts/Montserrat-Black.ttf');
}
@font-face {
    font-family: 'roboto-l';
    src: url('../fonts/Roboto-Bold.ttf');
}